<h1>FirstChoice</h1>
<p>Find me in app/views/static_pages/homepg.html.erb</p>

<% provide(:title, "homepage") %>
<div>
  <%# render 'shared/_header' %>
  <%# render 'shared/content_homepg' %>
  <%# render 'shared/_footer' %>
</div>

