<div class="medium-12 columns homepg_main_container">
  <div class="medium-12 columns homepg_container">
    <div class="header_inner_container homepg_inner_container">

      <h1>FirstChoice</h1>
      <p>Find me in app/views/static_pages/homepg.html.erb</p>

    </div>
  </div>
</div>

<div class="clear"></div>