/*=========================================
    Section: homepage
    File: _content_homepg.html.erb
  =========================================*/

.homepg_main_container {
  padding: 0px;
}

.homepg_main_container .homepg_container {
  font-weight: 400;
  color: #262626;
  background-color: #fff;
  padding: 0px !important;
  border-bottom: 5px solid #262626;
}

.homepg_main_container .homepg_container .homepg_inner_container {
  width: 1200px;
  margin: auto;
  background-color: red;
}



// --------------------------------
//     workings
// --------------------------------










