/*=========================================
    Section: events edit/create page | info on match image
    File: views / shared / _modal_match_info_example_img.html.erb
  =========================================*/

.size_guide_modal_container_test h1 {
  background-color: #262626 !important;
  color: #fff !important;
  padding: 0px !important;
}

.size_guide_modal_container_test #modalProductDescription p {
  padding: 15px !important;
}














