/*=========================================
    Section: events edit/create page | info on match image
    File: views / shared / _modal_match_info_example_img.html.erb
  =========================================*/

#modalProductDescription h1 {
  background-color: #262626 !important;
  color: #fff !important;
  padding: 0px !important;
}

#modalProductDescription p {
  padding: 15px !important;
}














