/*=========================================
    Section: Product Show
    File: products / _show.html.erb
  =========================================*/

.product_show_main_container {
  padding: 0px !important;
}

.product_show_main_container .product_show_container {
  font-weight: 400;
  color: #262626;
  background-color: #fff;
  padding: 0px !important;
  border-bottom: 5px solid #262626;
}

.product_show_main_container .product_show_container .product_show_inner_container {
  width: 1200px;
  margin: auto;
  background-color: #fff;
  min-height: 2400px;
}


// ----- product show content -----
.product_show_main_container .tree_line {
  font-size: 10px;
  font-weight: bold;
  color: #262626;
  text-transform: capitalize;
  margin: 15px 0px;
  letter-spacing: 1px;
}

.product_show_main_container .tree_line a {
  font-size: 10px;
  font-weight: bold;
  color: #262626 !important;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.product_show_main_container .tree_line a:hover {
  text-decoration: underline;
}

.product_show_main_container .tree_line .divider {
  margin: 0px 5px;
}

.product_show_main_container .product_show_details {
  padding: 20px 0px;
}



// ---------------------------
//     workings
// ---------------------------

// --- left_content ---
.left_content {
  padding: 0px !important;
}

// --- middle_content ---
.middle_content .item_title {
  position: relative;
}

.middle_content .item_title .product_item {
  font-size: 20px;
  color: #262626 !important;
  text-transform: capitalize;
}

.middle_content .product_new {
  background-color: #262626;
  color: #fff;
  font-size: 12px;
  letter-spacing: 1px;
  padding: 5px 10px;
  text-transform: capitalize;
  font-weight: bold;
  position: absolute;
  right: 0;
  bottom: 20px;
}

.middle_content .item_label, .item_ref {
  font-size: 10px;
  text-transform: uppercase;
  color: #666 !important;
}

.middle_content .price_review_section {
  margin: 8px 0px;
}

.middle_content .price_currency {
  margin: 10px 0px;
}

.middle_content .price_currency .currency, .price {
  font-size: 20px;
}

.middle_content .price_currency .currency {
  width: 9px;
  display: inline-block;
}

.middle_content .now_text {
  margin-left: 15px;
  font-size: 11px;
  color: #E34B51;
  letter-spacing: 1px;
  word-spacing: 1px;
}

.middle_content .price_sale {
  font-size: 20px;
  text-decoration: line-through;
}

.middle_content .sale_item .price, .sale_item .currency {
  color: #E34B51 !important;
}

.middle_content .minor_info {
  padding: 10px 0px;
  border-top: 1px dotted #a3a3a3;
  border-bottom: 1px dotted #a3a3a3;
  clear: both;
  font-size: 11px;
  color: #E34B51;
  letter-spacing: 1px;
  word-spacing: 1px;
}

.colour_title {
  font-size: 18px;
  color: #262626 !important;
  text-transform: capitalize;
}

.item_colour {
  font-size: 16px;
  color: #262626 !important;
  text-transform: capitalize;
  font-weight: 300 !important;
}

.listed_colours ul {
  list-style: none !important;
  margin: 0px !important;
}

.listed_colours ul li {
  float: left;
  height: 45px;
  width: 45px;
  border: 2px solid #262626;
  margin-right: 10px;
  margin-bottom: 15px;
}

.listed_colours ul .red {
  background-color: #E34B51;
}



// --- right_content ---





















