/*=========================================
    Section: Product Show
    File: products / _show.html.erb
  =========================================*/

.product_show_main_container {
  padding: 0px !important;
}

.product_show_main_container .product_show_container {
  font-weight: 400;
  color: #262626;
  background-color: #fff;
  padding: 0px !important;
  border-bottom: 5px solid #262626;
}

.product_show_main_container .product_show_container .product_show_inner_container {
  width: 1200px;
  margin: auto;
  background-color: #fff;
  min-height: 2400px;
}


// ----- product show content -----
.product_show_main_container .tree_line {
  font-size: 10px;
  font-weight: bold;
  color: #262626;
  text-transform: capitalize;
  margin: 15px 0px;
  letter-spacing: 1px;
}

.product_show_main_container .tree_line a {
  font-size: 10px;
  font-weight: bold;
  color: #262626 !important;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.product_show_main_container .tree_line a:hover {
  text-decoration: underline;
}

.product_show_main_container .tree_line .divider {
  margin: 0px 5px;
}

.product_show_main_container .product_show_details {
  padding: 20px 0px;
}


// --- left_content ---
.product_show_main_container .left_content {
  padding: 0px !important;
}

.product_show_main_container .left_content .image_container {
  height: 526px;
  padding: 0px;
  background-color: #E0DEE5;
}

.product_show_main_container .left_content img {
  height: 525px;
}


// --- middle_content ---
.middle_content .item_title {
  position: relative;
}

.middle_content .item_title .product_item {
  font-size: 20px;
  color: #262626 !important;
  text-transform: capitalize;
}

.middle_content .product_new {
  background-color: #262626;
  color: #fff;
  font-size: 12px;
  letter-spacing: 1px;
  padding: 5px 10px;
  text-transform: capitalize;
  font-weight: bold;
  position: absolute;
  right: 0;
  bottom: 20px;
}

.product_show_main_container .middle_content .item_label, .item_ref {
  font-size: 10px;
  text-transform: uppercase;
  color: #666 !important;
}

.product_show_main_container .middle_content .price_review_section {
  margin: 8px 0px;
}

.product_show_main_container .middle_content .price_currency {
  margin: 2px 0px;
  display: inline-block;
}

.product_show_main_container .middle_content .price_currency .currency, .price {
  font-size: 20px;
}

.product_show_main_container .middle_content .price_currency .currency {
  width: 9px;
  display: inline-block;
}

.product_show_main_container .middle_content .now_text {
  margin-left: 15px;
  font-size: 11px;
  color: #E34B51;
  letter-spacing: 1px;
  word-spacing: 1px;
}

.product_show_main_container .middle_content .price_sale {
  font-size: 20px;
  text-decoration: line-through;
}

.product_show_main_container .middle_content .sale_item .price, .sale_item .currency {
  color: #E34B51 !important;
}

.product_show_main_container .middle_content .minor_info {
  padding: 10px 0px;
  border-top: 1px dotted #a3a3a3;
  border-bottom: 1px dotted #a3a3a3;
  clear: both;
  font-size: 14px;
  color: #E34B51;
  letter-spacing: 1px;
  word-spacing: 1px;
}

.product_show_main_container .middle_content .colour_title {
  font-size: 18px;
  color: #262626 !important;
  text-transform: capitalize;
}

.product_show_main_container .middle_content .item_colour {
  font-size: 13px;
  color: #262626 !important;
  text-transform: capitalize;
  font-weight: 300 !important;
}

.product_show_main_container .middle_content .listed_colours ul {
  list-style: none !important;
  margin: 0px !important;
}

.product_show_main_container .middle_content .listed_colours ul li {
  float: left;
  height: 45px;
  width: 45px;
  border: 2px solid #262626;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 5px;
}

.product_show_main_container .middle_content .listed_colours ul .multi {
  background: url(img_clothe_01.jpg) no-repeat !important;
  background-position: 50% !important;
}

.product_show_main_container .middle_content .listed_colours ul .beige {
  background-color: #C8A67A;
}

.product_show_main_container .middle_content .listed_colours ul .blue {
  background-color: #002FA2;
}

.product_show_main_container .middle_content .listed_colours ul .black {
  background-color: #000;
}

.product_show_main_container .middle_content .listed_colours ul .brown {
  background-color: #60301A;
}

.product_show_main_container .middle_content .listed_colours ul .copper {
  background-color: #BD4C27;
}

.product_show_main_container .middle_content .listed_colours ul .cream {
  background-color: #E1E0DB;
}

.product_show_main_container .middle_content .listed_colours ul .gold {
  background-color: #CFB000;
}

.product_show_main_container .middle_content .listed_colours ul .green {
  background-color: #CDDF59;
}

.product_show_main_container .middle_content .listed_colours ul .grey {
  background-color: #B8BDBF;
}

.product_show_main_container .middle_content .listed_colours ul .navy {
  background-color: #00002A;
}

.product_show_main_container .middle_content .listed_colours ul .orange {
  background-color: #FE381A;
}

.product_show_main_container .middle_content .listed_colours ul .pink {
  background-color: #FE6088;
}

.product_show_main_container .middle_content .listed_colours ul .purple {
  background-color: #E34B51;
}

.product_show_main_container .middle_content .listed_colours ul .red {
  background-color: #E34B51;
}

.product_show_main_container .middle_content .listed_colours ul .red {
  background-color: #E34B51;
}

.product_show_main_container .middle_content .listed_colours ul .silver {
  background-color: #E34B51;
}

.product_show_main_container .middle_content .listed_colours ul .tan {
  background-color: #A55E01;
}

.product_show_main_container .middle_content .listed_colours ul .white {
  background-color: #fff;
}

.product_show_main_container .middle_content .listed_colours ul .yellow {
  background-color: #FCD25E;
}

.product_show_main_container .middle_content .listed_colours ul .stone {
  background-color: #B9B5AA;
}

.product_show_main_container .middle_content .colour_info {
  padding: 15px 0px !important;
  border-bottom: 1px solid rgba(40, 48, 45, 0.1) !important;
}

.product_show_main_container .middle_content .detail_info {
  border-bottom: 1px solid #c1c1c1;
  padding: 23px 0px !important;
}

.product_show_main_container .middle_content .size_guide {
  border: 1px solid red;
  font-size: 11px;
  padding: 8px;
  background-color: #f6f6f6;
  border: 1px solid #c1c1c1;
  float: right;
}

.product_show_main_container .middle_content .size_guide a {
  padding: 8px 0px;
  margin-left: 2px; 
  color: #666 !important;
}

.product_show_main_container .middle_content .size_guide i {
  color: #666 !important;
}

.product_show_main_container .middle_content .size_other {
  margin-top: 10px;
}

.product_show_main_container .middle_content .size_other ul {
  list-style: none !important;
  margin: 0px !important;
}

.product_show_main_container .middle_content .size_other ul li {
  font-size: 12px;
  float: left;
  background-color: #f6f6f6;
  border: 1px solid #c1c1c1;
  padding: 8px;
}

.product_show_main_container .middle_content .size_other span {
  float: left;
}

.product_show_main_container .middle_content .size_subtitle {
  font-size: 12px;
  text-transform: capitalize;
  letter-spacing: 1px;
  margin-right: 5px;
  padding: 10px 0px;
}

.product_show_main_container .middle_content .save_item a {
  color: #262626 !important;
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-top: 15px;
  padding: 7px 0px;
  font-size: 18px;
  font-size: 16px;
  color: #000;
  background-color: #CDDF59;
  background: -webkit-gradient('linear',top,#CDDF59 0,#B7C74E 100%);
  background: -webkit-linear-gradient(top,#CDDF59 0,#B7C74E 100%);
  background: -moz-linear-gradient(top,#CDDF59 0,#B7C74E 100%);
  background: -ms-linear-gradient(top,#CDDF59 0,#B7C74E 100%);
  background: -o-linear-gradient(top,#CDDF59 0,#B7C74E 100%);
  background: linear-gradient(top,#CDDF59 0,#B7C74E 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#CDDF59, endColorstr=#B7C74E)";
  border: 1px solid #b9c94f;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.product_show_main_container .middle_content .description_section {
  border-top: 5px solid #262626 !important;
}

.product_show_main_container .middle_content .description_content {
  background-color: #F8F8F8;
  padding: 10px 15px;
  height: 100px;
  border-bottom: 1px solid rgba(40, 48, 45, 0.1) !important;
}

.product_show_main_container .middle_content .description_content .header {
  font-size: 12px;
  color: #262626 !important;
  text-transform: capitalize;
  font-weight: bold;
}

.product_show_main_container .middle_content .description_content .description {
  font-size: 12px;
  line-height: 22px;
}

.product_show_main_container .middle_content .description_content .description a {
  color: #E34B51 !important;
}

.product_show_main_container .middle_content .description_content .description a:hover {
  text-decoration: underline;
}


// --- right_content ---
.product_show_main_container .right_content .column_title {
  text-align: center;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 15px;
  color: #666 !important;
  text-transform: capitalize;
}

.product_show_main_container .right_content .featured_products ul {
  list-style: none !important;
  margin: auto !important;
  width: 100px;
}

.product_show_main_container .right_content .featured_products ul li {
  margin-bottom: 15px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.product_show_main_container .right_content .featured_products ul li:hover {
  opacity: 0.7;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.product_show_main_container .right_content .featured_products ul li img {
  height: 102px;
  padding: 0px 12px;
}

.product_show_main_container .right_content .featured_products a .title {
  font-size: 10px !important;
  color: #262626 !important;
  text-align: center;
}

.product_show_main_container .right_content .featured_products .price_currency {
  text-align: center;
}

.product_show_main_container .right_content .featured_products a .currency {
  font-size: 12px !important;
  color: #262626 !important;
  font-weight: bold;
  text-align: center;
}

.product_show_main_container .right_content .featured_products a .price {
  font-size: 12px !important;
  color: #262626 !important;
  font-weight: bold;
  text-align: center;
}


// ---------------------------
//     workings
// ---------------------------

















