/*=========================================
    Section: Product Dresses
    File: products / colthes_dresses.html.erb
  =========================================*/

.product_container {
  padding: 0px !important;
}

.product_container .product_item_container {
  font-weight: 400;
  color: #262626;
  background-color: #fff;
  padding: 0px !important;
  border-bottom: 5px solid #262626;
}

.product_container .product_item_container .product_item_inner_container {
  width: 1200px;
  margin: auto;
  background-color: #fff;
  min-height: 2400px;
}


// ----- product_content -----
.product_container .tree_line {
  font-size: 10px;
  font-weight: bold;
  color: #262626;
  text-transform: capitalize;
  margin: 15px 0px;
  letter-spacing: 1px;
}

.product_container .tree_line a {
  font-size: 10px;
  font-weight: bold;
  color: #262626 !important;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.product_container .tree_line a:hover {
  text-decoration: underline;
}

.product_container .tree_line .divider {
  margin: 0px 5px;
}

.product_container .product_show_details {
  padding: 20px 0px;
}



// --------- left_column ---------

.product_container .left_column {
  background-color: #fff;
}

.product_container .left_column ul li {
  list-style-type: none;
  color: #262626;
  margin: 5px 0px;
}

.product_container .left_column ul li a {
  font-size: 13px;
  text-transform: capitalize;
  color: #262626 !important;
}

.product_container .left_column ul li a:hover {
  text-decoration: underline !important;
}

.product_container .left_column ul .header {
  font-size: 14px;
  text-transform: capitalize;
  font-weight: bold;
  margin-top: 25px;
}

.product_container .left_column ul .divider {
  border-bottom: 1px solid #f6f6f6;
  margin: 10px 0px;
}



// --------- right_column ---------

.product_container .right_column {
  background-color: #fff;
  padding: 0px !important;
}

.product_container .right_column .upper_row {
  padding: 0px !important;
  border-top: 3px solid #262626;
  border-bottom: 3px solid #262626;
}

.product_container .right_column .upper_row .upper_left_section {
  background-color: #fff;
}

.product_container .right_column .upper_row .upper_middle_section {
  background-color: #fff;
}

.product_container .right_column .upper_row .upper_right_section {
  background-color: #fff;
}


.product_container .right_column .upper_row .upper_left_section {
  padding: 0px !important;
}

.product_container .right_column .upper_row .upper_middle_section {
  padding: 0px !important;
  text-align: center;
}

.product_container .right_column .upper_row .upper_inner_middle_section {
  width: 400px;
  margin: auto;
  padding: 51px 0px 0px;
  height: 225px;
}

.product_container .right_column .upper_row .upper_middle_section .header {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  margin-bottom: 5px;
}

.product_container .right_column .upper_row .upper_middle_section .content {
  font-size: 16px;
}

.product_container .right_column .upper_row .upper_right_section {
  padding: 0px !important;
}

.product_container .right_column .middle_row_selection {
  padding: 0px !important;
  margin-top: 20px;
  border-bottom: 2px solid #eee
}

.product_container .right_column .middle_row_selection .btn_link_section {
  padding: 0px !important;
}

.product_container .right_column .middle_row_selection .btn {
  text-align: center;
  border: 1px solid #94B8dA;
  display: inline-block;
  width: 220px;
  height: 35px;
  padding: 8px 0px;
  font-size: 13px;
  text-transform: uppercase;
  color: #000 !important;
  font-weight: 300;
  margin-bottom: 15px;
}

.product_container .right_column .middle_row_selection .btn:hover {
  text-decoration: underline;
}

.product_container .right_column .middle_row_selection .second_btn {
  width: 223px !important;
}

.product_container .right_column .middle_row_selection .third_btn {
  float: right;
  width: 223px !important;
}

.product_container .right_column .middle_row_selection .fourth_btn {
  float: right;
}

.product_container .right_column .bottom_row_clothes {
  margin-top: 15px;
  padding: 0px !important;
}

.product_container .right_column .bottom_row_clothes ul {
  list-style-type: none;
  margin: 0px !important;
  display: inline-block;
}

.product_container .right_column .bottom_row_clothes ul li {
  float: left;
  width: 294px;
  margin: 0px 3px 15px;
}

.product_container .right_column .bottom_row_clothes ul img {
  width: 294px;
  height: 382px !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.product_container .right_column .bottom_row_clothes ul img:hover {
  opacity: 0.5 !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.product_container .right_column .bottom_row_clothes .dress_img {
  position: relative;
  position: relative;
  height: 382px;
}

.product_container .right_column .bottom_row_clothes .new_item {
  position: absolute;
}

.product_container .right_column .bottom_row_clothes .new_item {
  font-size: 12px;
  letter-spacing: 1px;
  background-color: black;
  color: #fff;
  height: 50px;
  width: 50px;
  text-align: center;
  padding: 3px;
  border-radius: 200px;
  margin: 10px;
}

.product_container .right_column .bottom_row_clothes .new_item_inner {
  background-color: black;
  height: 44px;
  width: 44px;
  text-align: center;
  padding: 11px 0px;
  border-radius: 200px;
  border: 1px solid #fff;
}

.product_container .right_column .bottom_row_clothes .sale_clothe_item {
  position: absolute;
}

.product_container .right_column .bottom_row_clothes .sale_clothe_item {
  font-size: 12px;
  letter-spacing: 1px;
  background-color: #E34B51;
  color: #fff;
  height: 50px;
  width: 50px;
  text-align: center;
  padding: 3px;
  border-radius: 200px;
  margin: 10px;
}

.product_container .right_column .bottom_row_clothes .sale_clothe_item_inner {
  background-color: #E34B51;
  height: 44px;
  width: 44px;
  text-align: center;
  padding: 11px 0px;
  border-radius: 200px;
  border: 1px solid #fff;
}

.product_container .right_column .bottom_row_clothes .dress_price .now_text {
  margin-left: 10px;
  font-size: 11px;
  color: #E34B51;
  word-spacing: 1px;
  text-transform: lowercase !important;
}

.product_container .right_column .bottom_row_clothes .dress_price .price_sale {
  text-decoration: line-through;
}

.product_container .right_column .bottom_row_clothes .dress_price .sale_item .price, .sale_item .currency {
  color: #E34B51 !important;
}

.product_container .right_column .bottom_row_clothes .sale_price {
  color: #E34B51 !important;
}

.product_container .right_column .bottom_row_clothes .img_item {
  position: absolute;
}

.product_container .right_column .bottom_row_clothes .img_dress_details {
  text-align: center;
  padding: 135px 0px;
}

.product_container .right_column .bottom_row_clothes .dress_details {
  text-align: center;
  margin: 15px 0px;
  position: none !important;
}

.product_container .right_column .bottom_row_clothes .dress_brand {
  font-size: 11px;
  text-transform: uppercase;
  color: #666 !important;
  font-weight: bold;
}

.product_container .right_column .bottom_row_clothes .dress_name {
  font-size: 13px;
  text-transform: capitalize;
  color: #262626 !important;
  margin: 2px 0px;
  font-weight: 300;
}

.product_container .right_column .bottom_row_clothes .dress_price {
  font-size: 14px;
  text-transform: capitalize;
  color: #262626 !important;
  font-weight: bold;
}


// ---------------------------
//     workings
// ---------------------------

.category_section {
  border-bottom: 1px solid #000;
}

.category_section .cat_header {
  border-bottom: 1px solid rgba(40, 48, 45, 0.1) !important;
  padding: 8px 15px;
  text-transform: capitalize;
  font-weight: bold;
  margin-bottom: 8px;
}

.category_section .divider {
  border-top: 4px solid #262626;
}

.category_section .cat_header i {
  font-size: 18px;
  margin-right: 5px;
  color: rgba(40, 48, 45, 0.5) !important;
}

.category_section .cat_header .title {
  font-size: 18px;
}

.category_section input[type="checkbox"] {
  margin-bottom: 5px;
}

.category_section .category_section_list {
  height: 165px;
  overflow: scroll;
}

.category_section .category_name {
  font-size: 12px;
  letter-spacing: 1px;
}




